body {
    background-color: black;
}
p {
    color: rgba(255, 0, 0, 0.616);
}
h1 {
    color: rgba(255, 0, 0, 0.616);
}
h2 {
    color: rgba(255, 0, 0, 0.616);
}
ul {
    color: rgba(255, 0, 0, 0.616);
}